<div class="form-content">
<%= form_for @post do |f| %>
<p>
  <%= f.label :title %><br>
</p>
<div class="form-field">
  <%= f.text_field :title, autofocus: true, placeholder: "Title", :required => 'required',:size =>"50", :maxlength=>"100"%>
  </div>
  <br>
  <br>
  <%= f.label :body %><br>
  <div class="form-field">
  <%= f.text_area :body, autofocus: true, placeholder: "Details...", :required => 'required',:hieght=>"200", :size =>"50x10"%>
  </div><br>
  <br>
  <%= f.submit "Submit" %>
<% end %>
</div>
